{
    "presets": [
      "es2015",
      "stage-3",
      "react"
    ],
    "plugins": [
      [
        "transform-object-rest-spread"
      ],
      [
        "transform-runtime"
      ],
      [
        "transform-class-properties",
        {
          "spec": true
        }
      ],
      [
        "transform-es2015-classes"
      ]
    ],
    "env": {
      "production": {
        "plugins": [
          [
            "transform-react-constant-elements"
          ]
        ]
      }
    }
}