/* Utility */

.subMenuOn {
  display: flex !important;
}

.subMenuOff {
  display: none;
}


/* Main */
.wrapper {
  background: pink;
  height: auto;
  display: flex;
  width: 200px;
  flex-direction: column;
}

.logo {
  background: black;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu {
  background: #afa;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuItems {
  display: flex;
  background: brown;
  padding: 10px 0;
  text-align: center;
}

.menuTitle {
  flex: 5;
}

.menuIcon {
  flex: 2;
}

.menuItems:hover {
  background: gray;
  cursor: pointer;
}

.subMenu {
  list-style-type: none;
  flex-direction: column;
  justify-content: center;  
  padding: 0;
}

.subMenuItems {
  padding: 5px 10px;
}

.subMenuItems:hover {
  background: gray;
  cursor: pointer;
}